* {
  box-sizing: border-box;
}

.important-text {
  color: cornflowerblue;
}

#title {
  font-size: 58px;
  color: thistle;
}

h2 {
  background-color: coral;
  color: cornsilk;
  padding: 15px;
  border: 3px dotted yellow;
  width: 300px;
}

img {
  width: 200px;
}