<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"/>
  <title>Login</title>
</head>
<body>
  <h1>Login in:</h1>
  <p>first time here? <a href="/register">register here</a></p>
  <form method="POST" action="/login">
    <label>email</label>
    <input name="email" />
    <br />

    <label>password</label>
    <input name="password" />
    <br />
    <button type="submit">Login</button>

  </form>
  
</body>
</html>