<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"/>
  <title>Login</title>
</head>
<body>
  <h1>Register</h1>
  <p>already a user? <a href="/login">go back to login</a></p>
  <form method="POST" action="/register">
    <label>email</label>
    <input name="email" required/>
    <br />

    <label>password</label>
    <input name="password" />
    <br />

    <button type="submit">Register User</button>
  </form>
  
</body>
</html>