<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"/>
  <title>Super Secrets</title>
</head>
<body>
  <h1>Secrets</h1>
  <p>logged in as: <%= email %></p>
  <p>this is your super secret page that is secretly cooler than any other page</p>
  <form method="POST" action="/logout">
    <button>Logout</button>
  </form>
</body>
</html>